.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.15%20' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.footertext:hover::after {
  color: #00d6d8;
  transition: all 0.3s ease 0s !important;
  text-decoration: underline;
  width: 100%;
}

footer div .footertext {
  color: #c5c9d2;
}

.footertext {
  color: #c5c9d2;
  text-decoration: none;
  transition: all 0.3s ease 0s !important;
  display: inline-block;
}

.footertext:hover {
  color: #00d6d8;
}

.footertext::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #00d6d8;
  transition: 300ms;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.767);
  transition: all 0.3s ease 0s !important;
}

.nav-link.active {
  color: white !important;
  transition: all 0.3s ease 0s !important;
}

@media only screen and (min-width: 991px) {
  .nav-link.active::after {
    color: white !important;
    transition: all 0.3s ease 0s !important;
    text-decoration: underline;
    width: 100%;
  }
}

@media only screen and (min-width: 991px) {
  .nav-link:hover::after {
    transition: all 0.3s ease 0s !important;
    text-decoration: underline;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .nav-link.active::after {
    color: white !important;
    transition: all 0.3s ease 0s !important;
    text-decoration: underline;
    width: 12%;
  }
}

@media only screen and (max-width: 991px) {
  .nav-link:hover::after {
    transition: all 0.3s ease 0s !important;
    text-decoration: underline;
    width: 12%;
  }
}

.nav-link {
  color: rgba(255, 255, 255, 0.767) !important;
  transition: all 0.3s ease 0s !important;
}

.nav-link:hover {
  color: white !important;
  transition: all 0.3s ease 0s !important;
}

.nav-link::after {
  background: white !important;
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  transition: 300ms;
}

.indexcard {
  padding: 40px;
  box-shadow: 0px 2px 10px rgba(0,0,0,.075);
  height: 100%;
}

